{% extends "_layout.html" %}
{% block content %}
{% if session.username %}
    <div class="middle-box text-center animated fadeInDown">
        <div class="row">
            <div class="col-lg-12">
                <img src="{{ url_for('static', filename='img/qc_logo_sm.png')}}" align="center">
            </div>
        </div>
        <h1 style="font-weight:bold;font-size:36px;">{{ session.teamname }}</h1>
        <h3><small class="text-primary">You are now logged in...</small></h3>
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="label label-default"><i class="fa fa-user"></i> Username: {{ session.username }}</span>
                <p>&nbsp;</p>
                <span class="label label-default"><i class="fa fa-gear"></i> User ID: {{ session.userid }}</span>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-12">
                <a href="{{ url_for('logout') }}" class="btn btn-success btn-sm"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-lg-12 text-center">
                <small>
                    Visit the <a href="http://qwikcut.cloudapp.net/stats">Stats site</a> to view your team statistics.
                </small>
            </div>
        </div>
    </div>
{% else %}
<a href="{{ url_for('login') }}" class="btn btn-lg btn-success"><i class="fa fa-unlock"></i> Login</a>
{% endif %}
{% endblock %}